<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshMovies($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid style="background: #000402;">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-lg="3" offset-lg="4">
        <ion-virtual-scroll [items]="results | async" approxItemHeight="700px">
          <div *virtualItem="let item; let itemBounds = bounds;" style="margin-bottom: 5%;">
            <div class="hot-tile card">
              <div class="hot-title-bg">
                <div class="hot-title">{{item.original_title}}</div>
              </div>
              <img class="hot-tile card" src="https://image.tmdb.org/t/p/w500{{item.poster_path}}"
                style="height: 100% !important;">
              <ion-button class="details-button" [routerLink]="['/','movie-details', item.id]">
                <!--ion-icon slot="start" name="videocam"></ion-icon-->See details
              </ion-button>
            </div>
          </div>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>