<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies">
      <ion-icon name="flame" class="icon"></ion-icon>
      <ion-label class="icon">Hot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="star" class="icon"></ion-icon>
      <ion-label class="icon">Fav</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="disc" class="icon"></ion-icon>
      <ion-label class="icon">Genres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="search" class="icon"></ion-icon>
      <ion-label class="icon">Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
